---
layout: main
---

<div id="page">
    <div class="sideNav">
{%if not( section) %}
    {% set section = 'developers' %}
{% endif %}
{% navigation section, page.url %}

    </div>
    <div class="mainBody">
        <h1>{{title}}</h1>
        <div style="display:flex;justify-content:space-between;">
            {# <a href="https://github.com/axelarnetwork/documentation/edit/main/{{page.inputPath}}">Suggest Edits</a> #}
            {# {% island "feedback.tsx", "client:load" %}{% endisland %} #}
        </div>
        <article>{{ content | safe }}</article>

    </div>
</div>